* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
    /* todo conteúdo que ultrapassar a horizontal será ignorado (overflor-x:hidden)*/
}

header {
    height: 100px;
    background-color: #000;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.logoimg {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #B28756;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu li, .menu ul {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    text-decoration: none;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    height: 100px;
    display: flex;
    align-items: center;
    border-bottom: 5px solid #000;
}

.menu li a:hover, .menu .active a {
    border-bottom: 5px solid #B28756;
    color: #CCC;
}

.banner {
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../images/complements/bg.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.banner h1 {
    font-weight: bold;
    font-size: 54px;
}

.banner h1 span {
    color: #B28756;
}

.banner h2 {
    margin-top: 20px;
}

.banner a {
    display: block;
    background-color: #B28756;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    padding: 17px 52px;
    margin-top: 48px;
    border-radius: 25px;
}

.banner .sliders-pointers {
    width: 100vw;
    height: 20px;
    position: absolute;
    margin-top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title, .default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 12px;
    color: #AEAEAE;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title .default.light .section-body {
    color: #010101;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title, .default.dark .section-body {
    color: #FFF;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: #FFF;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    padding: 17px 52px;
    margin-top: 48px;
    border-radius: 25px;
    text-transform: uppercase;
}

.companies{
    background-color: #fff;
    height: auto;
    width: 100%;
    border: 2px solid #CFCFCF;
    border-left: 0px;
    border-right: 0px;
    display: flex;
    justify-content: center;
}

.companies-area{
    display: flex;
    max-width: 880px;
    justify-content: center;
    align-items: center;
}

.companies-area img {
    margin: 30px;
}

/* SPECIFIC AREA CSS */

.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 520px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #CFCFCF;
    background-color: #EDEDED;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul, .section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CFCFCF;
    color: #555;
    border-bottom: 3px solid #EDEDED;
}

.section-projects--filters li:hover, .section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
    cursor: pointer;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--photos {
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.bg-team {
    background-image: url('../images/complements/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: #FFF;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #000;
    padding: 40px;
}

.section-team-area .sliders-pointers {
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 12px;
    color: #afafaf;
    margin-top: 5px;
}

.section-team--social {
    margin-top: 30px;
    display: flex;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #BEBEBE;
    border-radius: 13px;
    margin-right: 5px;
}

.section-team--social a:hover{
    background-color: #B28756;
}

.section-clients{
   display: flex;
   align-items: center;
   justify-content: center;
}

.section-clients .sliders {
    width: 1000vw;
    height: 100%; 
    margin-top: 30px;
}

.section-clients .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
}

.section-clients .slidearea {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: #FFF;
}

.section-client--name{
    font-size: 20px;
    color: #000;
    font-weight: 700;
    margin-top: 20px;
}

.section-client--role{
    font-size: 14px;
    color:#000;
    font-weight: 600;
    margin-top: 5px;
}

.quote{
    margin-top: 30px;
}

.section-clients p{
    color:#7F7F7F;
    text-align: center;
    max-width: 728px;
    margin: auto;
    margin-top: 10px;
    line-height: 25px;
    font-size: 14px;
    font-weight: 400;
}

.point .sliders-pointers {
    width: 100vw;
    height: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.point .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 8px;
    margin-right: 5px;
    margin-left: 5px;
    cursor: pointer;
}

.point .pointer.active {
    background-color: #B28756;
}

.section-prices{
display: flex;
max-width: 880px;
justify-content: center;
align-self: center;
margin: auto;
}

.section-prices--table{
    display: flex;
    width: 250px;
    height: 345px;
    border-radius: 10px;
    background-color: #FFF;
    margin-right: 20px;
    justify-content: center;
    padding: 20px;
}

.section-table-title{
    font-size: 14;
    color: #252525;
    font-weight: 600;
    text-transform: uppercase;
}

.section-table-price{
    color: #242424;
}